        
        /*Här kastar jag in fonts som jag ska använda som jag laddat ner*/
        @font-face{ /*Denna kod berättar att det som är mellan måsvingarna ska bli en font-face (?)*/
            font-family: demonized; /*Namnet på denna font, som vi också använder när vi anropar*/
            src: url("fonts/Demonized.ttf"); /*Var denna font befinner sig*/
        }
        @font-face{
            font-family: FaceYourFear;
            src: url("fonts/Face Your Fears.ttf");
        }
        @font-face{
            font-family: Journal;
            src: url("fonts/JOURNAL.TTF");
        }
body{
    background-color: rgb(141, 0, 0);
}
img{
    /*ger bilderna specifika maxstorlekar..*/
    max-width: 230px;
    max-height: 300px;
    border: 2px black solid; /*En ram runt bilderna som gör så att man lätt kan se var själva den vita paddingen börjar*/
}
a{
    transform: rotate(4deg); /*gör så att alla bilder roterar 4deg som standard..*/
    -webkit-transform: rotate(4deg);
    display: block;
    float: left;
    padding: 10px 10px 20px 10px;
    background-color: rgb(248, 248, 248);
    box-shadow: 3px 3px 14px 5px black;
    transition: 1s ease-in-out; /*Det kommer ta 1sek att göra denna övergång, den kommer göra det mjukt både in och ut*/
    z-index: 1;
}
a:nth-child(2n){ /*Varannan bild ska vara -3deg*/ 
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    position: relative;
    z-index: 2; /* de "slumpade" bilderna kommer ligga över de som inte är slumpade, då ser de mer utkastade ut..*/
}
a:nth-child(5n){ /*var 5de bild kommer ligga lite längre ifrån de andra*/ 
    margin: 40px;
}
a:nth-child(3n){ /* Var tredje bild ligger nu högst upp*/ 
    position: relative;
    z-index: 3;
}
.images {
float: left;
max-width: 75%;
border-right: black 1px solid; /*Lägger en vägg som skiljer bilderna och texten på sidan*/
}
#side { /*Fungerar bra om den är tom..*/
}
a:after{
    content: attr(title);
    font-size: 44px;
    display: block; /*Gör att texten hamnar på en egen rad och inte brevidbilden!*/
    font-family: Journal;
    text-align: center; /*Centrerar texten*/
}
a:link, a:visited { /*används för att kunna påverka texten..*/
color: rgb(130, 58, 136);
text-decoration: none;
}
a:hover {
-webkit-transform: rotate(0deg) scale(2);
transform: rotate(0deg) scale(2);
z-index: 10;
position: relative;
box-shadow: 59px 69px 75px 7px black;
background-color: white;
}












/*a{
    max-width: 230px;
    max-height: 300px;
    border: black solid 1px;
    background-color: white;
    padding: 10px 10px 70px 10px;
    margin: -7px 4px 40px 29px;
}
img{
    max-width: 230px;
    max-height: 300px;
}
a:nth-child(4n){
    zoom: 2;
    
}
*/