
body{
    background-color: rgb(141, 0, 0);
}
img{
    /*ger bilderna specifika maxstorlekar..*/
    max-width: 230px;
    max-height: 300px;
}
a{
    transform: rotate(4deg); /*gör så att alla bilder roterar 4deg som standard..*/
    -webkit-transform: rotate(4deg);
    display: block;
    float: left;
    padding: 10px 10px 70px 10px;
    background-color: white;
    box-shadow: 3px 3px 14px 5px black;
}
a:nth-child(2n){ /*Varannan bild ska vara -3deg*/ 
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    position: relative;
    z-index: 5; /* de "slumpade" bilderna kommer ligga över de som inte är slumpade, då ser de mer utkastade ut..*/
}
a:nth-child(5n){ /*var 5de bild kommer ligga lite längre ifrån de andra*/ 
    margin: 40px;
}
a:nth-child(3n){ /* Var tredje bild ligger nu högst upp*/ 
    position: relative;
    z-index: 6;
}
.images {
float: left;
max-width: 75%;
border-right: black 1px solid; /*Lägger en vägg som skiljer bilderna och texten på sidan*/
}
#side { /*Fungerar bra om den är tom..*/
}
a:after{
    content: attr(title);
    font-size: 24px;
    display: block; /*Gör att texten hamnar på en egen rad och inte brevidbilden!*/
}
a:link, a:visited { /*används för att kunna påverka texten..*/
color: brown;
text-decoration: none;
}












/*a{
    max-width: 230px;
    max-height: 300px;
    border: black solid 1px;
    background-color: white;
    padding: 10px 10px 70px 10px;
    margin: -7px 4px 40px 29px;
}
img{
    max-width: 230px;
    max-height: 300px;
}
a:nth-child(4n){
    zoom: 2;
    
}
*/