#container{
    position: relative;
    left: 7px;
}
#content{
    max-width: 100%;
    min-width: 100%;
    margin-left: -10px; /*Gör så att content blir i mitten..*/
}
#header {
max-width: 100%; /*genom att ändra denna från 773px till 100% så kommer texten/loggan alltid bli så stor som möjligt på mobiler.*/
padding: 0 0 0 0;
}
#meny{
    width: 100%;
    margin-bottom: 5px;
    float: none;
}
#meddelande {
min-width: 215px;
height: 70px;
}
h1 {
font-size: 2.5em;
}
h2{
    font-size: 2em;
}
#styleish {
margin-top: 110px;
position: absolute;
z-index: 1;
display: none;
}
/*Gör ingenting med Footer nu för att den ändå är för liten för att ställa till problem, men 
kan vara bra att ge den position: absolute; på mobilversionen om den kommer krångla senare..*/