/* OBS!!! Kopierade  stylemallen! ÄNDRAR I DENNA */





/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Koden över är till för att min sida ska läsas likadant av alla webbläsare.. */
/*Efter det här så kommer min kod. dvs inte denna  */

/*Här ska alla ID vara, sorterad i bokstavsordning*/
/*saker som används på varje sida eller ofta*/
#sitetitle{ /*Detta optimerar för sökmotorer.. texten finns där men den är genomskinlig, den tar ingen "fysisk plats".*/
    position: absolute;
    color: rgba(255, 0, 0, 0);
    border-bottom: 0 transparent solid;
}
#container{
    margin: 0 auto;
    background-color: #0000;
    max-width: 100%; /*Utan denna så blir inte sidan centrerad, jag valde max-width istället för width för att hålla sidan centrerad (?)*/
    padding: 10px 15px 0 15px; /*nu har container en total bredd på totalt 970px */
    overflow: auto;
    margin-bottom: 34px; /*Denna är till för att min footer inte ska täcka över något..*/
    box-shadow: 0 0 0 0 rgb(156, 0, 156); /* boxshadow,borderradius och boder är till för att ge sidan lite lyssande ram.. kanske tar bort senare men nu tycker jag nog det ser bra ut...*/
    border-radius: 0 0 0 0;
    border: 0 solid black;
    
}
#content, main{
    float: left; /*Gör att hela content boxen hoppar upp och sätter sig brevid menyn istället för under*/
    padding: 0px;
    max-width: 100%;
    min-width: 100%; /*Gör så att sidan helst vill ha storleken 82% såvida inget större eller mindre block säger annat..*/
    background-color: #3A71A1;
    box-shadow: 0 0 0 0;
}
#footer, footer{ /*Denna kommer troligtvis att behöva ändras, den kommer troligtvis ej funka på mobila-enheter*/
    display: none;
}
#footer p, footer p{
    color: rgb(148, 98, 98);
    width: 185px;
    margin: 0 auto;
    padding: 5px;
}
#header, header{
    margin: 0 auto;
    width: 95%;
    max-width: 773px;
    padding: 10px 15px 0 15px;
}
#loggotyp {
width: 100%;
}
#meny, nav{
    display: none;
}
#meny a, nav a { /*Denna gör så att alla a element inne i en meny blir block element, och tilllåter mig att påverka fonten */
    display: block;
    color: black;
    font-family: helvetica;
    font-size: 1.2em;
    text-decoration: none; /*tar bort understrecket..*/
}
#menyMark{ /*Denna säts på det menyalternativ som representerar sin htmlfil. tex kontakt.html markerar menyalternativet kontakt */
    background-color: #802E96;
}
/*Saker som inte används mer än till vissa saker*/
#blogg2bild{
    width:100%;
}
#kontaktknapp{
    width: 85px;
    height: 30px;
    margin-left: 11px;
    margin-bottom: 25px;
}
#lowebild {
    float: right;
    margin: 3px 1px 0 15px;
    border-radius: 5px;
    box-shadow: 0 0 30px 4px;
    color: rgb(28, 3, 34);
}
#meddelande {
min-width: 350px;
}
#video1vink{
    width: 100%; /*Gör att videon är så stor som möjligt, men anpassar sig även när man skalar ner fönsteret..*/
    
}
/*Slut på IDs*/

/*Här ska alla klasser vara*/
.blogg{ /*Det här attributet schysterar blogginläggen */
    background-color: rgba(13, 47, 66, 0.32);
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 4px; /* Rundar kanterna på alla hörn*/
    display:block;
    overflow: auto;
    page-break-inside: avoid; /*gör så att sidans kortare blogginlägg inte delas upp på två sidor vid utskrift!*/
}
.b-left{
    float: left; /*Ändrar float till none pga att  bilderna lägger sig brevid h-taggar... EDIT!! ändrar tillbaka. löste sig när jag gav .blogg attributet page-break-inside: aboid; ! :)*/
    margin: 10px;
    border: 3px solid rgb(26, 4, 34);
    border-radius: 3px;
    max-width: 59%;
}
.b-right{
    float: right;
    margin: 10px;
    border: 3px solid rgb(26, 4, 34);
    border-radius: 3px;
    max-width: 59%;
}
.menyo{
    border-bottom: 2px;
    border-style: solid;
    background-color: #A45FB8;
    padding: 3px; /*Gör det mer lättläst med mellanrum*/
}
.menyo:hover{ /* gör färgen på rutorna blir mörkare när man håller muspekaren över*/
    background-color: #A231B8;
}
.menyo:visited{ /* Noterade att denna tagg EJ FUNGERAR just nu..*/
    color: red;
}
.nameNdate {
float: right;
font-style: italic;
font-size: 0.8em;
}
.sektion{
    overflow: auto;
    page-break-inside: avoid;
}
/*Här slutar klasser*/

/*Här ska alla htmltaggar vara, sorterade i bokstavsordning...*/
a:link:after, a:visited:after{ /*Detta attribut är taget från http://davidwalsh.name/optimize-your-links-for-print-using-css-show-url */
    content:" [" attr(href) "] ";
    color: blue;
    display: block; /*genom att sätta block här lbir det nya rader, jag väljer att färga url-länkarna blåa så att man lätta kan se skillnad.*/
    margin-bottom: 10px; /*Denna lägger jag till så att det inte blir för trångt mellan all kod..*/
}
a:link, a:link:visited{
    color: rgb(0, 172, 0); /*Ändrar Färgen till lite mörkare färg så att det blir lättare att se på de vita papperet..*/
}
body {
    background-color: #001D26;
}
dt{
    font-weight: bold;
    color: rgb(192, 192, 192);
    margin-top: 6px;
}

fieldset {

    border: black 0px solid;
    background-color: rgba(13, 47, 66, 0.32);
    padding: 10px;
    margin: 16px 0 20px 0;
    border-radius: 4px;
}
form textarea{
    max-width: 55em;

}
h1 {
    font-size: 3em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /*hittade fonten här: http://cssfontstack.com/ */
    border-bottom: 3px solid rgb(33, 20, 39);
}
h2{
    font-size: 2.2em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.3em;
    margin-top: 15px;
}
h3{
    font-size: 1.8em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.2em;
    margin-top: 5px;
    border-bottom: 1px rgb(52, 155, 155) solid;
    padding-left: 50px;
    margin-bottom: 5px;
    background-image: url(pics/logga.png); /*Mycket möjligt att jag byter ut denna i framtiden*/
    background-position: top left;
    background-size: 55px 50px;
    background-repeat: no-repeat;
    padding-top: 17px;
}
h4{
    font-size: 1.4em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
}
label {
    display: block;
    padding-top: 10px;
}
legend {
    font-size: 24px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: rgb(43,91,131);
    border-radius: 4px 4px 0 0;
    border: 0 black solid;
    padding: 2px;
    border-bottom: 0 black solid;
}
table {
	border: 3px solid black;
	background-color: black;
}
td {
    border: 2px solid black;
    background-color: rgb(128, 74, 128);
    padding: 4px;
}
th {
    border: 3px solid black;
    background-color: rgb(139, 43, 139);
    padding: 7px;
    font-size: 1.2em;
}
/*här kommer htmltaggar som är ihopslagna*/
li a,p a{
    color: rgb(0, 206, 0);
}
li a:hover,p a:hover{ /*hover attributet gör att det ser annorlunda ut när man håller muspekaren över attributet som står innan hover...*/
    color: rgb(144, 221, 144);
}
p, .nicetext{ /*här grupperar vi flera taggar som vi vill ska se likadana ut! Görs med hjälp av comman.*/
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif; /*Behåller denna font då den är av typen serif och ger bättre läsbarhet*/
    color: rgb(0,0,0); /* Ändrar till svart text då det är mer synligt på utskrift*/
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 10px;
}

/*Slut på htmltaggar*/


























