#container{
    position: relative;
    left: 7px;
}
#content{
    max-width: 100%;
    min-width: 100%;
    margin-left: -10px; /*Gör så att content blir i mitten..*/
}
#meny{
    width: 100%;
}
#meddelande {
min-width: 250px;
}