/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Koden över är till för att min sida ska läsas likadant av alla webbläsare.. */
/*Efter det här så kommer min kod. dvs inte denna  */

/*Här ska alla ID vara, sorterad i bokstavsordning*/
/*saker som används på varje sida eller ofta*/
#sitetitle{ /*Detta optimerar för sökmotorer.. texten finns där men den är genomskinlig, den tar ingen "fysisk plats".*/
    position: absolute;
    color: rgba(255, 0, 0, 0);
    border-bottom: 0 transparent solid;
}
#container{
    margin: 0 auto;
    background-color: #448378;
    max-width: 940px; /*Utan denna så blir inte sidan centrerad, jag valde max-width istället för width för att hålla sidan centrerad (?)*/
    padding: 10px 15px 0 15px; /*nu har container en total bredd på totalt 970px */
    overflow: auto;
    margin-bottom: 34px; /*Denna är till för att min footer inte ska täcka över något..*/
}
#content{
    float: left; /*Gör att hela content boxen hoppar upp och sätter sig brevid menyn istället för under*/
    padding: 10px;
    max-width: 82%;
    min-width: 82%; /*Gör så att sidan helst vill ha storleken 82% såvida inget större eller mindre block säger annat..*/
    background-color: #3A71A1;

}
#footer{ /*Denna kommer troligtvis att behöva ändras, den kommer troligtvis ej funka på mobila-enheter*/
    position: fixed; /*position fixed innebär att Denna del kommer ligga statiskt på skärmen även om man scrollar ner eller upp */
    background-color: #44243F;
    width: 100%;
    bottom: 0;
    padding: 10px 45% 5px 45%;
    border-top: 3px solid black;
}
#header{
    margin: 0 auto;
    width: 95%;
    max-width: 773px;
    padding: 10px 15px 0 15px;
}
#loggotyp {
width: 100%;
}
#meny{
   width: 140px;
   border-width: 2px 2px 0 2px; 
   border-color: black;
   border-style: solid;
   float: left;
}
#meny a { /*Denna gör så att alla a element inne i en meny blir block element, och tilllåter mig att påverka fonten */
    display: block;
    color: black;
    font-family: helvetica;
    font-size: 1.2em;
    text-decoration: none; /*tar bort understrecket..*/
}
#menyMark{ /*Denna säts på det menyalternativ som representerar sin htmlfil. tex kontakt.html markerar menyalternativet kontakt */
    background-color: #802E96;
}
/*Saker som inte används mer än till vissa saker*/
#blogg2bild{
    width:100%;
}
#lowebild {
    float: right;
    margin: 3px 1px 0 15px;
    border-radius: 5px;
    box-shadow: 0 0 30px 4px;
    color: rgb(28, 3, 34);
}
#video1vink{
    width: 100%; /*Gör att videon är så stor som möjligt, men anpassar sig även när man skalar ner fönsteret..*/
    
}
/*Slut på IDs*/

/*Här ska alla klasser vara*/
.blogg{ /*Det här attributet schysterar blogginläggen */
    background-color: rgba(13, 47, 66, 0.32);
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 4px; /* Rundar kanterna på alla hörn*/
}
.b-left{
    float: left;
    margin: 10px;
    border: 3px solid rgb(26, 4, 34);
    border-radius: 3px;
    max-width: 89%;
}
.b-right{
    float: right;
    margin: 10px;
    border: 3px solid rgb(26, 4, 34);
    border-radius: 3px;
    max-width: 89%;
}
.menyo{
    border-bottom: 2px;
    border-style: solid;
    background-color: #A45FB8;
    padding: 3px; /*Gör det mer lättläst med mellanrum*/
}
.menyo:hover{ /* gör färgen på rutorna blir mörkare när man håller muspekaren över*/
    background-color: #A231B8;
}
.menyo:visited{
    color: red;
}
/*Här slutar klasser*/

/*Här ska alla htmltaggar vara, sorterade i bokstavsordning...*/
body {
    background-color: #001D26;
}
dt{
    font-weight: bold;
    color: rgb(192, 192, 192);
    margin-top: 6px;
}

fieldset {

    border: black 1px solid;
    background-color: rgba(13, 47, 66, 0.32);
    padding: 10px;
    margin: 16px 0 20px 0;
    border-radius: 4px;
}
h1 {
    font-size: 3em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; /*hittade fonten här: http://cssfontstack.com/ */
    border-bottom: 3px solid rgb(33, 20, 39);
}
h2{
    font-size: 2.2em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.3em;
    margin-top: 15px;
}
h3{
    font-size: 1.8em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.2em;
    margin-top: 5px;
    border-bottom: 1px rgb(52, 155, 155) solid;
    padding-left: 50px;
    margin-bottom: 5px;
    background-image: url(pics/logga.png); /*Mycket möjligt att jag byter ut denna i framtiden*/
    background-position: top left;
    background-size: 55px 50px;
    background-repeat: no-repeat;
    padding-top: 17px;
}
h4{
        font-size: 1.4em;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    line-height: 1.2em;
    margin-top: 20px;
    margin-bottom: 5px;
}
label {
    display: block;
}
legend {
    font-size: 24px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-color: rgb(43,91,131);
    border-radius: 4px 4px 0 0;
    border: 1px black solid;
    padding: 2px;
    border-bottom: 0 black solid;
}
table {
	border: 3px solid black;
	background-color: black;
}
td {
    border: 2px solid black;
    background-color: rgb(128, 74, 128);
    padding: 4px;
}
th {
    border: 3px solid black;
    background-color: rgb(139, 43, 139);
    padding: 7px;
    font-size: 1.2em;
}
/*här kommer htmltaggar som är ihopslagna*/
li a,p a{
    color: rgb(0, 206, 0);
}
li a:hover,p a:hover{ /*hover attributet gör att det ser annorlunda ut när man håller muspekaren över attributet som står innan hover...*/
    color: rgb(144, 221, 144);
}
p, .nicetext{ /*här grupperar vi flera taggar som vi vill ska se likadana ut! Görs med hjälp av comman.*/
    font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
    color: rgb(232, 226, 241);
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 10px;
}

/*Slut på htmltaggar*/


























